# **Installing Librosa Package which is actually a library of music and audio analysis.**

In [ ]:
!pip install librosa

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: librosa in /usr/local/lib/python3.10/dist-packages (0.10.0.post2)
Requirement already satisfied: audioread>=2.1.9 in /usr/local/lib/python3.10/dist-packages (from librosa) (3.0.0)
Requirement already satisfied: numpy!=1.22.0,!=1.22.1,!=1.22.2,>=1.20.3 in /usr/local/lib/python3.10/dist-packages (from librosa) (1.22.4)
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from librosa) (1.10.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from librosa) (1.2.2)
Requirement already satisfied: joblib>=0.14 in /usr/local/lib/python3.10/dist-packages (from librosa) (1.2.0)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.10/dist-packages (from librosa) (4.4.2)
Requirement already satisfied: numba>=0.51.0 in /usr/local/lib/python3.10/dist-packages (from librosa) (0.56.4)
Requirement already satisfied: soundfile>=0.12.1 in /usr/local/lib/python3.10/dist-packages (from librosa) (0.12.1)
Requirement already satisfied: pooch<1.7,>=1.0 in /usr/local/lib/python3.10/dist-packages (from librosa) (1.6.0)
Requirement already satisfied: soxr>=0.3.2 in /usr/local/lib/python3.10/dist-packages (from librosa) (0.3.5)
Requirement already satisfied: typing-extensions>=4.1.1 in /usr/local/lib/python3.10/dist-packages (from librosa) (4.5.0)
Requirement already satisfied: lazy-loader>=0.1 in /usr/local/lib/python3.10/dist-packages (from librosa) (0.2)
Requirement already satisfied: msgpack>=1.0 in /usr/local/lib/python3.10/dist-packages (from librosa) (1.0.5)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.10/dist-packages (from numba>=0.51.0->librosa) (0.39.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from numba>=0.51.0->librosa) (67.7.2)
Requirement already satisfied: appdirs>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from pooch<1.7,>=1.0->librosa) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from pooch<1.7,>=1.0->librosa) (23.1)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.10/dist-packages (from pooch<1.7,>=1.0->librosa) (2.27.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->librosa) (3.1.0)
Requirement already satisfied: cffi>=1.0 in /usr/local/lib/python3.10/dist-packages (from soundfile>=0.12.1->librosa) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.0->soundfile>=0.12.1->librosa) (2.21)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pooch<1.7,>=1.0->librosa) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pooch<1.7,>=1.0->librosa) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pooch<1.7,>=1.0->librosa) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pooch<1.7,>=1.0->librosa) (3.4)

# **Installing Important Libraries**
librosa.display function constructs a plot which adaptively switches between a raw samples-based view of the signal

In [ ]:
import librosa
import librosa.display
import IPython.display as ipd
import os
import numpy as np

# **Mounting Google Drive**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Selecting the folder of recordings**

In [ ]:
for file in os.listdir('/content/drive/MyDrive/medicare (11)/'):
    print(file)

medicare (5).wav
medicare (6).wav
medicare (10).wav
medicare (8).wav
medicare (3).wav
medicare (9).wav
medicare (2).wav
medicare (4).wav
medicare (7).wav
medicare (11).wav

# **Importing Tensor Flow**
TensorFlow is a free and open-source software library for machine learning and artificial intelligence. It can be used across a range of tasks but has a particular focus on training and inference of deep neural networks.

In [ ]:
import tensorflow as tf

def feature_extraction(file_path):
    # Load the audio file
    audio_binary = tf.io.read_file(file_path)
    audio, sample_rate = tf.audio.decode_wav(audio_binary)
    audio = tf.squeeze(audio, axis=-1)
    audio = tf.cast(audio, tf.float32)
    
    # Extract features from the audio
    stft = tf.signal.stft(audio, frame_length=1024, frame_step=512)
    spectrogram = tf.abs(stft)
    mel_filterbank = tf.signal.linear_to_mel_weight_matrix(
        num_mel_bins=40,
        num_spectrogram_bins=spectrogram.shape[-1],
        sample_rate=sample_rate,
        lower_edge_hertz=20,
        upper_edge_hertz=4000
    )
    mel_spectrogram = tf.matmul(tf.square(spectrogram), mel_filterbank)
    log_mel_spectrogram = tf.math.log(mel_spectrogram + 1e-6)
    mfcc = tf.signal.mfccs_from_log_mel_spectrograms(log_mel_spectrogram)[..., :50]
    mfcc = tf.reshape(mfcc, [-1])
    
    return mfcc.numpy()

# **Selecting another Audio Data Folder**

In [ ]:
dog =[] 
directory = '/content/drive/MyDrive/medicare (11)/'
for audio in os.listdir(directory):
    print(audio)
    audio_path = directory+audio
    features = feature_extraction(audio_path)
    dog.append([features,'dog'])


# directory = '/content/drive/MyDrive/Untitledfolder/dataset/not_human/'
# for audio in os.listdir(directory):
#     audio_path = directory+audio
#     print(audio_path)
#     features = feature_extraction(audio_path)
#     human.append([features,'not_human'])

medicare (5).wav
medicare (6).wav
medicare (10).wav
medicare (8).wav
medicare (3).wav
medicare (9).wav
medicare (2).wav
medicare (4).wav
medicare (7).wav
medicare (11).wav

# **Extracting Features and Class**

In [ ]:
import pandas as pd

extracted_features_df1=pd.DataFrame(dog,columns=['feature','class'])
extracted_features_df1.head()

                                             feature class
0  [-64.84589, 9.643701, -5.8432384, -2.4669206, ...   dog
1  [-87.10707, 3.63034, -3.031106, -3.8557534, 0....   dog
2  [-106.64713, -6.868034, -3.4943686, 4.700258, ...   dog
3  [-109.7457, 1.9395437, -0.87555635, 0.7026826,...   dog
4  [-117.59345, -1.0324076, 0.4781919, -0.2103796...   dog

# **Selecting another Data Folder and extracting its features**

In [ ]:
cat =[] 
directory = '/content/drive/MyDrive/medicare (11)/'
for audio in os.listdir(directory):
    audio_path = directory+audio
    print(audio_path)
    features = feature_extraction(audio_path)
    cat.append([features,'cat'])

/content/drive/MyDrive/medicare (11)/medicare (5).wav
/content/drive/MyDrive/medicare (11)/medicare (6).wav
/content/drive/MyDrive/medicare (11)/medicare (10).wav
/content/drive/MyDrive/medicare (11)/medicare (8).wav
/content/drive/MyDrive/medicare (11)/medicare (3).wav
/content/drive/MyDrive/medicare (11)/medicare (9).wav
/content/drive/MyDrive/medicare (11)/medicare (2).wav
/content/drive/MyDrive/medicare (11)/medicare (4).wav
/content/drive/MyDrive/medicare (11)/medicare (7).wav
/content/drive/MyDrive/medicare (11)/medicare (11).wav

# **Importing pandas and extracting class and features**

In [ ]:
import pandas as pd

extracted_features_df2=pd.DataFrame(cat,columns=['feature','class'])
extracted_features_df2.head(10)

                                             feature class
0  [-64.84589, 9.643701, -5.8432384, -2.4669206, ...   cat
1  [-87.10707, 3.63034, -3.031106, -3.8557534, 0....   cat
2  [-106.64713, -6.868034, -3.4943686, 4.700258, ...   cat
3  [-109.7457, 1.9395437, -0.87555635, 0.7026826,...   cat
4  [-117.59345, -1.0324076, 0.4781919, -0.2103796...   cat
5  [-117.637375, -0.9806429, 0.19199793, -0.32298...   cat
6  [-112.64955, 1.5540884, -1.999954, -0.22067784...   cat
7  [-100.785614, 8.065061, 1.9763356, -1.43655, -...   cat
8  [-53.570282, 0.08126841, -5.0531282, 1.1188836...   cat
9  [-112.445656, 0.845533, 0.2705953, -1.0564846,...   cat

# **Selecting another Data Folder and extracting features**

In [ ]:
bird =[] 
directory = '/content/drive/MyDrive/medicare (11)/'
for audio in os.listdir(directory):
    audio_path = directory+audio
    print(audio_path)
    features = feature_extraction(audio_path)
    bird.append([features,'bird'])

/content/drive/MyDrive/medicare (11)/medicare (5).wav
/content/drive/MyDrive/medicare (11)/medicare (6).wav
/content/drive/MyDrive/medicare (11)/medicare (10).wav
/content/drive/MyDrive/medicare (11)/medicare (8).wav
/content/drive/MyDrive/medicare (11)/medicare (3).wav
/content/drive/MyDrive/medicare (11)/medicare (9).wav
/content/drive/MyDrive/medicare (11)/medicare (2).wav
/content/drive/MyDrive/medicare (11)/medicare (4).wav
/content/drive/MyDrive/medicare (11)/medicare (7).wav
/content/drive/MyDrive/medicare (11)/medicare (11).wav

In [ ]:
import pandas as pd

extracted_features_df3=pd.DataFrame(bird,columns=['feature','class'])
extracted_features_df3.head(10)

                                             feature class
0  [-64.84589, 9.643701, -5.8432384, -2.4669206, ...  bird
1  [-87.10707, 3.63034, -3.031106, -3.8557534, 0....  bird
2  [-106.64713, -6.868034, -3.4943686, 4.700258, ...  bird
3  [-109.7457, 1.9395437, -0.87555635, 0.7026826,...  bird
4  [-117.59345, -1.0324076, 0.4781919, -0.2103796...  bird
5  [-117.637375, -0.9806429, 0.19199793, -0.32298...  bird
6  [-112.64955, 1.5540884, -1.999954, -0.22067784...  bird
7  [-100.785614, 8.065061, 1.9763356, -1.43655, -...  bird
8  [-53.570282, 0.08126841, -5.0531282, 1.1188836...  bird
9  [-112.445656, 0.845533, 0.2705953, -1.0564846,...  bird

In [ ]:
### converting extracted_features to Pandas dataframe
extracted_features_df= pd.concat([extracted_features_df1, extracted_features_df2, extracted_features_df3], axis=0)
#extracted_features_df=pd.DataFrame(extracted_features_df1,extracted_features_df1,columns=['feature','class'])
extracted_features_df.tail()

                                             feature class
5  [-117.637375, -0.9806429, 0.19199793, -0.32298...  bird
6  [-112.64955, 1.5540884, -1.999954, -0.22067784...  bird
7  [-100.785614, 8.065061, 1.9763356, -1.43655, -...  bird
8  [-53.570282, 0.08126841, -5.0531282, 1.1188836...  bird
9  [-112.445656, 0.845533, 0.2705953, -1.0564846,...  bird

# **Reindexing the rows**

In [ ]:
extracted_features_df = extracted_features_df.reset_index(drop=True)

# **Displaying last 5 rows**

In [ ]:
extracted_features_df.tail(5)

                                              feature class
25  [-117.637375, -0.9806429, 0.19199793, -0.32298...  bird
26  [-112.64955, 1.5540884, -1.999954, -0.22067784...  bird
27  [-100.785614, 8.065061, 1.9763356, -1.43655, -...  bird
28  [-53.570282, 0.08126841, -5.0531282, 1.1188836...  bird
29  [-112.445656, 0.845533, 0.2705953, -1.0564846,...  bird

In [ ]:
# Convert features to NumPy array and reshape if needed
#X = np.array(extracted_features_df['feature'].tolist())
#X = X.reshape(X.shape[0], -1).astype('float32')

# Convert classes to NumPy array and reshape if needed
#y = np.array(extracted_features_df['class'].tolist()).astype('float32')

# Split dataset into training and testing sets
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## **Tolist:**
Converts the data elements of an array into a list

In [ ]:
### Split the dataset into independent and dependent dataset
X=np.array(extracted_features_df['feature'].tolist())
y=np.array(extracted_features_df['class'].tolist())

<ipython-input-19-c320c7fd232f>:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  X=np.array(extracted_features_df['feature'].tolist())

# **Importing some functions from libraries**

In [ ]:
### Label Encoding
### y=np.array(pd.get_dummies(y))
### Label Encoder
from tensorflow.keras.utils import to_categorical
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
y=to_categorical(labelencoder.fit_transform(y))

# **Printing data stored in y**

In [ ]:
y

array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]], dtype=float32)

# **Training the Model**

In [ ]:
### Train Test Split

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
X_train.dtype

dtype('O')

In [ ]:
X_train.value_counts()

AttributeError: ignored

In [ ]:
y

array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]], dtype=float32)

# **Extracting Number of rows and columns using shape function**

In [ ]:
X_train.shape

(24,)

In [ ]:
X_test.shape

(6,)

In [ ]:
y_train.shape

(24, 3)

In [ ]:
y_test.shape

(6, 3)

# **Checking tensorflow's version**

In [ ]:
import tensorflow as tf
print(tf.__version__)

2.12.0

# ***Importing functions from tensorflow and sklearn***

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout,Activation,Flatten
from tensorflow.keras.optimizers import Adam
from sklearn import metrics

# ***No. of Classes***

In [ ]:
### No of classes
num_labels=y.shape[1]

In [ ]:
#Dense()

# ***Adding layers to mode***

In [ ]:
model=Sequential()
###first layer
model.add(Dense(100,input_shape=(40,)))
model.add(Activation('relu'))
model.add(Dropout(0.5))
###second layer
model.add(Dense(200))
model.add(Activation('relu'))
model.add(Dropout(0.5))
###third layer
model.add(Dense(100))
model.add(Activation('relu'))
model.add(Dropout(0.5))

###final layer
model.add(Dense(num_labels))
model.add(Activation('softmax'))
model.add(Activation('softmax'))

# ***Summary***

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4100

 activation (Activation)     (None, 100)               0

 dropout (Dropout)           (None, 100)               0

 dense_1 (Dense)             (None, 200)               20200

 activation_1 (Activation)   (None, 200)               0

 dropout_1 (Dropout)         (None, 200)               0

 dense_2 (Dense)             (None, 100)               20100

 activation_2 (Activation)   (None, 100)               0

 dropout_2 (Dropout)         (None, 100)               0

 dense_3 (Dense)             (None, 3)                 303

 activation_3 (Activation)   (None, 3)                 0

 activation_4 (Activation)   (None, 3)                 0

=================================================================
Total params: 44,703
Trainable params: 44,703
Non-trainable params: 0
_________________________________________________________________

# ***Model Training***

In [ ]:
model.compile(loss='categorical_crossentropy',metrics=['accuracy'],optimizer='adam')

In [ ]:
## Trianing my model
from tensorflow.keras.callbacks import ModelCheckpoint
from datetime import datetime 

num_epochs = 100
num_batch_size = 32

checkpointer = ModelCheckpoint(filepath='saved_models/audio_classification.hdf5', 
                               verbose=1, save_best_only=True)
start = datetime.now()

model.fit(X_train, y_train, batch_size=num_batch_size, epochs=num_epochs, validation_data=(X_test, y_test), callbacks=[checkpointer], verbose=1)


duration = datetime.now() - start
print("Training completed in time: ", duration)

ValueError: ignored